<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYT Pseudo Search Results</title>
</head>
<body>

    <!-- Title -->
    <div id="TITLE" class="container mt-3">
        <div class="row text-center">
          <h1 class="display-6">Search Results</h1>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-8 bg-light bg-gradient">

                <% if (results.length > 0) { %>
                    <% for (let i = 0; i < results.length; i++) { %>

                        <% if (i === 10) break; %>

                        <div class="card my-3">
                            <div class="card-body">
                                <a href="/articles/details/<%= results[i]._id%>" class="text-decoration-none stretched-link">
                                    <h4 class="card-title"><%= results[i].headline.main %></h4>
                                </a>
                              <span class="card-subtitle text-muted"><%= results[i].byline.original %></span>
                              <span class="card-subtitle ms-5 text-muted"><%= results[i].pub_date %></span>
                              <p class="card-text my-3 h6"><%= results[i].snippet %></p>
        
                              <span class="card-text"><%= results[i].section_name %></span>
                              <span class="card-text ms-3"><%= results[i].subsection_name %></span>
                              
                              <p class="card-text fw-bold mt-3">Word Count: <%= results[i].word_count %></p>
                            </div>
                        </div>
                        
                    <% } %>
                <% } else { %>
                    <div class="card my-3">
                        <div class="card-body">
                            <a href="#" class="text-decoration-none stretched-link"><h4 class="card-title">No Results. Go back to Homepage.</h4></a>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    </div>

</body>

    <script>

        const TITLE = document.getElementById('TITLE');
        TITLE.addEventListener('click', (e) => {
            location.href = '/';
        });

    </script>
    
</html>